[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = git://github.com/copycat-killer/awesome-freedesktop.git
[submodule "awesome.keyboard-layout-indicator"]
	path = awesome.keyboard-layout-indicator
	url = https://github.com/coldfix/awesome.keyboard-layout-indicator.git
